.salesPage-Wrap {
  margin-left: 15px;
}

th {
  text-align: center;
  padding: 0px;
  height: 50px;
}

tr {
  padding: 0px;
}

.sales-date,
.sales-category,
.sales-prices {
  width: 500px;
}

table.saleslist tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  height: 40px;
}

.table {
  margin-bottom: 0;
}

label#set-start-date,
label#set-end-date {
  margin-left: 20px;
}
.sales-prices {
  border-right: none;
}
td.sales-prices {
  text-align: right;
}

.saleslist {
  border-top: 1px solid lightgray;
}
