/* * {
  border: 1px solid black;
} */
* {
  padding: 0;
  margin: 0;
}
div.book-detail-img {
  text-align: center;
}

div.book-detail-img img {
  max-width: 430px !important;
  max-height: 580px !important;
  object-fit: cover;
  box-shadow: 0 -0.5rem 1rem rgba(0 0 0 / 0.15);
}

div.book-title-name {
  margin: 0px;
}
div.book-title-name p {
  font-size: 32px;
  font-weight: bolder;
  color: #301fbf;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 35px;
  margin: 0px;

  padding-top: 4px;
}

div.book-detail-right p {
  max-width: 840px;
  font-size: 20px;
}

div.book-author {
  margin: 15px 0px 0px 0px;
  font-size: 28px !important;
  font-weight: bolder;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
  height: 60px;
  color: black;
  padding: 0px;
}

div.book-cart-quantity {
  display: flex;
  align-items: center;
  width: 145px;
  height: 44px;
  border: 1px solid #dad5d5;
  margin: 0;
}

div.book-cart-quantity p {
  width: 35px;
  padding-top: 10px;
  margin-right: 10px;
}

div.book-cart-quantity button {
  width: 35px;
  color: white;
  padding: 0;
}

button#plus {
  margin-left: -20px;
}

button p {
  color: white;
}

/* button#num_minus {
  margin-left: -20px;
  margin-right: 10px;
} */

button.button-search p {
  margin: 0;
}

div.book-price {
  height: 35px;
}

div.book-price p {
  margin: 0px 5px 0px 0px;
  font-size: 20px;
}

p#book-original-price,
p#book-discounted-price {
  width: 85px;
  text-align: left;
}

p#arrow {
  padding: auto;
  margin-right: 10px;
}

div.stars {
  margin-left: 10px;
}

div.book-ranking p {
  margin: 10px 0px 0px 0px;
  font-size: 24px;
  color: #301fbf;
}
div.order-info {
  margin-left: -10px;
}
p.title {
  width: 100px;
  padding: 0px;
  margin: 12px 0px 0px 15px;
}
p.price {
  width: 120px;
  padding: 0;
  margin: 12px 0px 0px 1px;
}

div.book-content {
  margin-top: 20px;
  padding: 10px;
  min-height: 335px;
  max-height: 335px;
}
div.book-content p.book-content-description {
  text-align: left;
  margin: 5px 10px;
  font-size: 24px;
  color: #301fbf;
  font-weight: bold;
}

div.book-description {
  min-height: 260px;
  overflow: auto;
  /* text-overflow:  */
  word-break: break-all;
  margin: 15px 10px 10px 10px;
  font-size: 18px;
}

div.book-cart-quantity {
  display: flex;
  align-items: center;
  width: 135px;
  height: 42px;
  border: 1px solid #dad5d5;
  margin: 10px 0px 5px 30px;
}

div.book-cart-quantity p {
  width: 35px;
  padding-top: 10px;
  margin-right: 10px;
}

div.book-cart-quantity button {
  width: 35px;
  color: white;
  padding: 0;
}

button#plus {
  margin: -1px 0px 0px -15px !important;
  padding: 0px;
}

button#minus {
  margin: -1px 10px 0px -20px;
}

button#plus,
button#minus {
  color: white;
  padding: 0;
  width: 43px;
  height: 43px;
}

div.cart-sum .card {
  width: 260px;
  height: 280px;

  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
}

.card {
  border-radius: 16px;
}

hr {
  height: 12px;
  margin: 9px;
}

button.btn-bookdetial-cart {
  width: 100px;
  margin: 20px 10px 15px 15px;
}
