/* div {
  border: 1px solid black;
} */

div,
p {
  margin: 0;
  padding: 0;
}
div.review-list-title {
  height: 50px;
}
p.review-view-title {
  padding-left: 10px;
  min-width: 120px;
  font-size: 30px;
  font-weight: bold;
  color: #301fbf;
  margin: 0;
  padding-top: 15px;
  height: 50px;
}

button.review-write-btn {
  margin: 10px 20px 0px 0px;
  padding: 0px;
  width: 60px;
  height: 40px;
}

div.form-box {
  padding: 0;
  margin: 0;
}

div.write-form-wrap {
  margin-left: 10px;
  padding: 0;
}

form.write-form {
  width: 100%;
}

.review-modify-text textarea {
  width: 1240px;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 7px;
  font-size: 20px;
  margin-top: 10px;
}

div.review-rating {
  margin: 5px 0px 0px -5px;
}
input.review-add {
  width: 60px;
  margin: 35px 0px 0px 9px;
}

div.review-body,
div.review-wrap,
div.review-writer,
div.review-edit {
  padding: 0;
}

div.review-writer {
  font-size: 20px;
}

.review-edit-btn,
.review-delete-btn {
  margin: 5px 0px 5px 45px;
}

.star_avg {
  margin-top: 18px;
  font-size: 24px;
}

.star-wrap {
  height: 50px;
  padding: 0px;
}

.review-writer {
  font-size: 20px;
}

div.review-write-inside {
  padding: 0px;
}

.update-average {
  font-size: 22px;
  margin: 3px 10px 0px 0px;
}

#review-update-modify {
  margin: 5px 10px 0px 0px;
}
#review-update-cancel {
  margin: 5px 0px 0px 0px;
}

.review-update-title hr {
  margin: 8px 0px 0px 0px;
}

#modify-star {
  margin: 8px 0px 0px 0px;
}

button#review-modify-inside {
  margin: 45px 0px 0px 27px;
}
